// Please try to maintain the same code style as outlined here:
// https://github.com/lintelio/lintel/blob/master/CONTRIBUTING.md

// Global
$nav-padding-y:             $cushion-y-md !default;
$nav-padding-x:             $cushion-x-md !default;

$nav-margin-y:              $cushion-y-md;
$nav-margin-x:              4px;

$nav-include-y:             true;

// Tabs
$nav-tabs-margin-y:         4px;
$nav-tabs-margin-x:         $nav-margin-x;
$nav-tabs-padding-y:        $nav-padding-y;
$nav-tabs-padding-x:        $nav-padding-x;

$nav-tabs-bg:               transparent;
$nav-tabs-border:           transparent;
$nav-tabs-border-list:      $border-base;
$nav-tabs-border-radius:    $border-radius-base;
$nav-tabs-text:             $text-muted;

$nav-tabs-active-bg:        #fff;
$nav-tabs-active-border:    $nav-tabs-border-list;
$nav-tabs-active-text:      $text-link;

$nav-tabs-hover-bg:         null;
$nav-tabs-hover-border:     transparent;
$nav-tabs-hover-text:       $text-link;

// Pills
$nav-pills-margin-y:        $nav-margin-y;
$nav-pills-margin-x:        $nav-margin-x;
$nav-pills-padding-y:       $nav-padding-y;
$nav-pills-padding-x:       $nav-padding-x;

$nav-pills-bg:              null;
$nav-pills-border:          transparent;
$nav-pills-border-radius:   $border-radius-base;
$nav-pills-text:            $text-muted;

$nav-pills-active-bg:       $state-primary;
$nav-pills-active-border:   $state-primary;
$nav-pills-active-text:     #fff;

$nav-pills-hover-bg:        null;
$nav-pills-hover-border:    $border-base;
$nav-pills-hover-text:      $nav-pills-active-bg;

// Flat
$nav-flat-margin-y:         $nav-margin-y;
$nav-flat-margin-x:         $cushion-x-lg;
$nav-flat-padding-y:        $cushion-y-sm;
$nav-flat-padding-x:        0;

$nav-flat-y-padding-x:      $cushion-x-sm;

$nav-flat-bg:               null;
$nav-flat-border:           $border-base;
$nav-flat-border-width:     3px;
$nav-flat-text:             $text-muted;

$nav-flat-active-bg:        null;
$nav-flat-active-border:    $state-primary;
$nav-flat-active-text:      $text-link;

$nav-flat-hover-bg:         null;
$nav-flat-hover-border:     $border-darkest;
$nav-flat-hover-text:       $text-base;

